/*-------------------*/
/*  Responsive Style */
/*-------------------*/
@import "https://fonts.googleapis.com/css?family=Open+Sans";
@import "https://fonts.googleapis.com/css?family=Work+Sans";
.row {
  margin: 0 auto;
  width: 100%;
  padding: 0; }

.col {
  float: left;
  min-height: 1px;
  padding: 0;
  width: 100%; }

.xs-one {
  width: 8.33333333%; }

.xs-two {
  width: 16.66666667%; }

.xs-three {
  width: 25%; }

.xs-four {
  width: 33.3333%; }

.xs-five {
  width: 41.66666667%; }

.xs-six {
  width: 50%; }

.xs-seven {
  width: 58.33333333%; }

.xs-eight {
  width: 66.6666%; }

.xs-nine {
  width: 75%; }

.xs-ten {
  width: 83.33333333%; }

.xs-eleven {
  width: 91.66666667%; }

.xs-twelve {
  width: 100%; }

@media (min-width: 768px) {
  .row {
    width: 100%; }

  .sm-one {
    width: 8.33333333%; }

  .sm-two {
    width: 16.66666667%; }

  .sm-three {
    width: 25%; }

  .sm-four {
    width: 33.3333%; }

  .sm-five {
    width: 41.66666667%; }

  .sm-six {
    width: 50%; }

  .sm-seven {
    width: 58.33333333%; }

  .sm-eight {
    width: 66.6666%; }

  .sm-nine {
    width: 75%; }

  .sm-ten {
    width: 83.33333333%; }

  .sm-eleven {
    width: 91.66666667%; }

  .sm-twelve {
    width: 100%; } }
@media (min-width: 992px) {
  .row {
    width: 970px; }

  .md-one {
    width: 8.33333333%; }

  .md-two {
    width: 16.66666667%; }

  .md-three {
    width: 25%; }

  .md-four {
    width: 33.3333%; }

  .md-five {
    width: 41.66666667%; }

  .md-six {
    width: 50%; }

  .md-seven {
    width: 58.33333333%; }

  .md-eight {
    width: 66.6666%; }

  .md-nine {
    width: 75%; }

  .md-ten {
    width: 83.33333333%; }

  .md-eleven {
    width: 91.66666667%; }

  .md-twelve {
    width: 100%; } }
@media (min-width: 1200px) {
  .row {
    width: 1170px; }

  .lg-one {
    width: 8.33333333%; }

  .lg-two {
    width: 16.66666667%; }

  .lg-three {
    width: 25%; }

  .lg-four {
    width: 33.3333%; }

  .lg-five {
    width: 41.66666667%; }

  .lg-six {
    width: 50%; }

  .lg-seven {
    width: 58.33333333%; }

  .lg-eight {
    width: 66.6666%; }

  .lg-nine {
    width: 75%; }

  .lg-ten {
    width: 83.33333333%; }

  .lg-eleven {
    width: 91.66666667%; }

  .lg-twelve {
    width: 100%; } }
* {
  box-sizing: border-box; }

/*---------------*/
/* 	 Main Style  */
/*---------------*/
html, body {
  height: 100%;
  width: 100%; }

body {
  background-color: #eee;
  font-family: "Work Sans", sans-serif; }

a {
  text-decoration: none;
  color: #000; }
  a:hover {
    color: orange; }
  a:active {
    color: pink;
    text-decoration: underline; }

h1, h2, h3, h4 {
  margin-top: 0; }

h1 {
  font-size: 26px;
  text-align: center; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 16px; }

#wrap {
  background-color: #fff;
  width: 100%;
  margin: 0 auto; }

.strong {
  font-weight: bold; }

.aligncenter {
  text-align: center; }

.content {
  padding: 20px 20px;
  margin-bottom: 40px; }

.animated.flipInX {
  -webkit-animation-duration: 6s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: 1; }

.animated.pulse {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s; }

li.active_page {
  text-decoration: underline;
  color: #000; }

@media (min-width: 1200px) {
  #wrap {
    width: 1170px; } }
@media (min-width: 768px) {
  .content {
    padding: 40px 80px; } }
/*------------------*/
/*  Colour Classes  */
/*------------------*/
.darkgreen {
  color: darkgreen; }

.brown {
  color: brown; }

/*---------------*/
/* Header Style  */
/*---------------*/
.preheader {
  position: relative; }
  .preheader button {
    position: absolute;
    bottom: 20px;
    right: 100px;
    border: 0;
    background-color: transparent;
    color: white;
    z-index: 65; }

#header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

#header {
  background-color: #b4aeab;
  color: #000;
  border-bottom: 1px solid #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 50px;
  z-index: 67;
  position: relative; }
  #header .logo {
    font-size: 20px;
    line-height: 50px;
    padding-left: 30px; }
  #header .fa-soundcloud {
    line-height: 50px; }

@media (min-width: 770px) {
  #header {
    height: 70px; }
    #header .logo {
      font-size: 26px;
      line-height: 70px; }
    #header .fa-soundcloud {
      line-height: 70px; } }
/*-------------------*/
/*  Responsiv Meny  */
/*-------------------*/
#nav-trigger {
  display: none;
  text-align: right; }
  #nav-trigger span {
    display: inline-block;
    background-color: #ff0032;
    height: 49px;
    padding: 10px 20px;
    color: white;
    line-height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer; }
    #nav-trigger span:hover {
      background-color: #e6002d; }
    #nav-trigger span.open:after {
      border-left: solid 10px transparent;
      border-top: none;
      border-bottom: solid 10px #fff;
      border-right: solid 10px transparent; }

nav {
  margin-bottom: 30px; }

#nav-main {
  background-color: #ff0032;
  padding: 8px 0; }
  #nav-main a {
    display: block;
    color: #fff;
    padding: 10px 30px; }
    #nav-main a:hover {
      background-color: #e6002d;
      color: yellow; }
  #nav-main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
  #nav-main li {
    display: inline-block;
    border-right: solid 1px #cc0028;
    padding: 0 5px; }
    #nav-main li:last-child {
      border-right: none; }
    #nav-main li.active_page a {
      color: #000; }

nav#nav-mobile {
  position: relative;
  display: none; }
  nav#nav-mobile a {
    display: block;
    color: white;
    padding: 10px 30px; }
    nav#nav-mobile a:hover {
      background-color: #e6002d;
      color: #fff; }
  nav#nav-mobile ul {
    display: none;
    list-style-type: none;
    position: absolute;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #ff0000; }
  nav#nav-mobile li {
    display: block;
    padding: 5px 0;
    margin: 0 5px;
    border-bottom: solid 1px #cc0028; }
    nav#nav-mobile li:last-child {
      border-bottom: none; }
    nav#nav-mobile li.active_page {
      text-decoration: underline; }
      nav#nav-mobile li.active_page a {
        color: #000; }

@media (max-width: 768px) {
  #nav-trigger, nav#nav-mobile {
    display: block; }

  nav#nav-main {
    display: none; } }
/*---------------*/
/* 	 Main Style  */
/*---------------*/
#main {
  display: block;
  background-color: rgba(53, 51, 49, 0.75);
  min-height: 500px;
  padding-top: 40px;
  padding-bottom: 20px;
  width: 100%;
  margin: 0 auto; }
  #main:after {
    clear: both;
    content: "";
    display: block; }

.section {
  margin-bottom: 30px; }

.box {
  display: block;
  background-color: white;
  min-height: 150px;
  margin: 0 auto;
  width: 100%;
  text-align: center; }
  .box p {
    padding-top: 20px;
    line-height: 24px; }

@media (min-width: 1170px) {
  #main {
    padding-bottom: 40px; } }
@media (min-width: 768px) {
  .box p {
    padding-top: 40px; } }
/*-----------------------------*/
/* 	 Accordian Style (News)    */
/*-----------------------------*/
section.news .accordian-box {
  background-color: #fff;
  display: block;
  margin: 20px auto; }
  section.news .accordian-box > h3 {
    text-align: center;
    line-height: 50px;
    cursor: pointer; }
  section.news .accordian-box > article {
    display: none; }
    section.news .accordian-box > article > p {
      padding-top: 20px; }
      section.news .accordian-box > article > p > a {
        color: brown;
        font-weight: bold; }

/*-----------------------------*/
/* 	       Sticky Header  	   */
/*-----------------------------*/
section.preheader {
  background-color: #ccc;
  background-image: url("../img/goosk_small.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%; }
  section.preheader a {
    color: #fff; }

@media (min-width: 340px) {
  section.preheader {
    background-image: url("../img/goosk_med.jpg"); } }
@media (min-width: 560px) {
  section.preheader {
    background-image: url("../img/goosk.jpg"); } }
/*-----------------------------*/
/* 	           Hero 		   */
/*-----------------------------*/
.space {
  margin-top: 70px !important; }

section.hero {
  background-color: #3e3d3c;
  border-bottom: 1px solid #000;
  position: relative;
  height: 40px;
  z-index: 0; }

@media (min-width: 780px) {
  section.hero {
    height: 100px; } }
/*-----------------------------*/
/* 	   Discography (Tabs)	   */
/*-----------------------------*/
section.discography p {
  padding: 0; }
section.discography .tabs {
  margin: 40px 0 0;
  overflow: hidden;
  padding: 0;
  cursor: pointer; }
section.discography .tabs > li {
  background-color: tan;
  border: solid 1px #000;
  border-radius: 2px;
  list-style: none;
  width: 100%;
  padding: 5px 15px;
  margin: 0 auto 10px; }
section.discography .tabs > li.active {
  background-color: #fff; }
section.discography .tabsbox {
  padding: 0; }
  section.discography .tabsbox article > p > img {
    margin: 20px auto; }
  section.discography .tabsbox > article {
    display: none; }
    section.discography .tabsbox > article[data-number="1"] {
      display: block; }
section.discography .tracklists {
  list-style: none;
  line-height: 30px;
  margin-top: 20px; }

@media (min-width: 768px) {
  section.discography .tabsbox {
    padding: 30px; }

  .tabsbox > article > p > img {
    margin: 0 auto; } }
@media (min-width: 325px) {
  section.discography .tabs > li {
    width: 50%; } }
/*-----------------------------*/
/* 	      Photos (Modal)	   */
/*-----------------------------*/
img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto; }

.thumbnail {
  border: 1px solid #000;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 8px;
  width: auto;
  height: 180px;
  margin-top: 10px;
  margin-bottom: 20px; }

#fade {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 90; }

#modal {
  position: relative;
  border: 4px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  display: none;
  width: 300px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99; }
  #modal button {
    position: absolute;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 4px;
    top: -20px;
    right: -12px; }

@media (min-width: 768px) {
  #modal {
    width: 700px; }

  .thumbnail {
    height: 300px;
    margin-top: 30px;
    margin-bottom: 0; } }
/*-----------------------------*/
/* 	      Tour (Tabell)	 	   */
/*-----------------------------*/
table {
  margin: 30px auto;
  padding-bottom: 30px; }
  table thead {
    background-color: #ccc;
    font-size: 18px; }
  table tbody {
    padding-bottom: 30px; }
  table th, table td {
    padding: 10px 4px;
    font-size: 10px; }
  table th {
    font-weight: bolder;
    text-decoration: underline; }
  table td {
    background-color: #eee; }
    table td a {
      text-decoration: underline;
      color: #aaa;
      font-weight: bold; }
  table tr:last-of-type {
    padding-bottom: 30px; }

@media (min-width: 350px) {
  table th, table td {
    font-size: 12px; } }
@media (min-width: 768px) {
  table th, table td {
    padding: 10px 40px; } }
@media (min-width: 990px) {
  table th, table td {
    font-size: 16px; } }
/*-----------------------------*/
/* 	  	 Contact (Form)	 	   */
/*-----------------------------*/
section.contact {
  display: block; }

.form-group {
  margin-top: 15px;
  margin-bottom: 15px; }

.form-box {
  border: 1px solid grey;
  margin-top: 10px;
  width: 100%;
  line-height: 18px; }

input[type="text"],
input[type="email"], textarea {
  background-color: #eee;
  border-radius: 2px;
  line-height: 20px; }

input:focus, textarea:focus {
  outline: none !important;
  border: 1px solid #ff0000;
  box-shadow: 0 0 10px #719ECE; }

input[type="submit"] {
  width: 100%;
  margin: 0 auto; }

@media (min-width: 400px) {
  .form-box {
    width: 60%; } }
/*-----------------*/
/* 	 Footer Style  */
/*-----------------*/
#footer {
  display: block;
  background-color: rgba(142, 142, 142, 0.7);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 170px; }
  #footer a {
    color: yellow;
    font-size: 12px; }
  #footer p {
    color: #fff;
    font-size: 12px; }
  #footer ul {
    padding: 0 18px;
    margin-top: 14px; }
  #footer ul > li {
    display: inline;
    list-style: none;
    margin: 0;
    padding-right: 10px; }
  #footer .line-height {
    line-height: 50px; }

@media (min-width: 768px) {
  #footer {
    height: 100px; }
    #footer .line-height {
      line-height: 100px; }
    #footer a, #footer p {
      font-size: 14px; }
    #footer ul {
      margin: 0; } }

/*# sourceMappingURL=main.css.map */
